<p id="notice"><%= notice %></p>

<h1>Listing Currencies</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @currencies.each do |currency| %>
      <tr>
        <td><%= currency.name %></td>
        <td>R$ <%= currency.price %></td>
        <td><%= link_to 'Ver', currency, class: 'btn btn-default btn-sm btn-block' %></td>
        <td><%= link_to 'Apagar', currency, method: :delete, class: 'btn btn-danger btn-sm btn-block', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
