<div class="col-xs-12 show-user-panel">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Cliente: <%= @customer.name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 col-lg-3 " align="center">

          <%= image_tag("perfil.jpg", class: "img-circle img-responsive") %>
           </div>
          

          <div class=" col-md-9 col-lg-9 "> 
            <table class="table table-user-information">
              <tbody>
                <tr>
                  <td><b>Informações:</b></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Nome:</td>
                  <td><%= @customer.name %></td>
                </tr>
                <tr>
                  <td>CPF:</td>
                  <td><%= @customer.cpf %></td>
                </tr>
                <tr>
                  <td>E-mail:</td>
                  <td><a href="<%= @customer.email %>"><%= @customer.email %></td>
                </tr>
                <tr>
                  <td>Sexo:</td>
                  <td><%= @customer.sex %></td>
                </tr>
                  <tr>
                  <td>Data de Nascimento:</td>
                  <td><%= @customer.birth %></td>
                </tr>

                <% @customer.phones.each do |phone| %>
                  </tr>
                    <td>Telefone:</td>
                    <td><%= phone.number %></td>
                  </tr>
                <% end %>
                
                <tr>
                  <td>Criado em:</td>
                  <td><%= @customer.created_at %></td>
                </tr>
                <tr>
                  <td>Ultima Alteração:</td>
                  <td><%= @customer.updated_at %></td>
                </tr>
                <tr>
                  <td><b>Endereço:</b></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Estado:</td>
                  <td><%= @customer.address.state %></td>
                </tr>
                <tr>
                  <td>Cidade:</td>
                  <td><%= @customer.address.city %></td>
                </tr>
                <tr>
                  <td>CEP:</td>
                  <td><%= @customer.address.cep %></td>
                </tr>
                <tr>
                  <td>Rua:</td>
                  <td><%= @customer.address.street %></td>
                </tr>
                <tr>
                  <td>Numero:</td>
                  <td><%= @customer.address.number %></td>
                </tr>
                <tr>
                  <td>Criado em:</td>
                  <td><%= l(@customer.created_at) %></td>
                </tr>
                <tr>
                  <td>Ultima Alteração:</td>
                  <td><%= @customer.updated_at.to_formatted_s(:long) %></td>
                </tr>
               </tbody>
            </table>
            
          </div>
        </div>
      </div>

         <div class="panel-footer">
              <span class="pull-right">

                  <%= link_to edit_customer_path(@customer), class:"btn btn-sm btn-warning" do %>
                      <i class="glyphicon glyphicon-edit"></i>
                  <% end %>

                  <%= link_to customer_path(@customer), :method => 'delete', class:"btn btn-sm btn-danger", data: { confirm: "Tem certeza que deseja apagar <b> #{@customer.name} </b> ?" } do %>
                      <i class="glyphicon glyphicon-remove"></i>
                  <% end %>
              </span>
          </div>
    </div>
  </div>
