
  <!-- banner text -->
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div id="inicial" class="banner-text text-center">
        <h1 class="animated bounce">Cotação Dólar Hoje</h1>
        <p class="hidden-xs">Economize ao Comprar Dólar. Somos parceiros das maiores instituições financeiras do país e oferecemos a melhor cotação do dólar em tempo real. Nossas taxas do dólar são válidas 24h por dia e 7 dias por semana.</p>
        <a id="tabela-cotações" class="btn btn-large" data-toggle="modal" data-target="#myModal">Ver cotações</a> </div>
      <!-- banner text --> 
    </div>
  </div>
</section>
<!-- header section --> 
<!-- intro section -->
<section id="intro" class="section intro">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h3>Nós somos Currency Converter!</h3>
      <p> <%= @company.about_us %> </p>
    </div>
  </div>
</section>
<!-- intro section --> 
<!-- services section -->
<section id="services" class="services service-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 services text-center"> <span class="fa fa-money"></span>
        <div class="services-content">
          <h5>Moedas em espécies</h5>
          <p>Possuímos uma ampla variedade de moedas estrangeiras. Compre utilizando nosso chat, telefone ou vá até uma de nossas lojas mais próxima de você.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="fa fa-building"></span>
        <div class="services-content">
          <h5>Nossas lojas</h5>
          <p>Conheça mais sobre a localização das lojas da GetMoney Câmbio. Saiba qual de nossas lojas é a mais próxima de você, todas com fácil acesso e atendimento especializado.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="fa fa-shopping-cart"></span>
        <div class="services-content">
          <h5>Câmbio comercial</h5>
          <p>Realizamos operações de Câmbio Comercial de até 100.000 dólares americanos ou o equivalente a este valor em outras moedas. Entre em contato conosco e solicite uma cotação da moeda de seu interesse.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="fa fa-wrench"></span>
        <div class="services-content">
          <h5>Serviços técnicos</h5>
          <p>A GetMoney Câmbio dispõe de diversos tipos de serviços técnicos para o mercado cambial. Saiba tudo que precisa sobre o mercado e legislação. Acesse e conheça algumas de nossas soluções!</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="fa fa-taxi"></span>
        <div class="services-content">
          <h5>Delivery</h5>
          <p>Entre em contato conosco e otimize o seu tempo utilizando nosso serviço de Delivery. Consulte as áreas de atendimento na região metropolitana de São Paulo.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 services text-center"> <span class="fa fa-envelope-open-o"></span>
        <div class="services-content">
          <h5>Cheque</h5>
          <p>Se você possui um cheque em moeda estrangeira procure a GetMoney Câmbio para realizar a troca do valor. Trocamos cheques vindos de aposentadorias, indenizações, doações, comissões e etc.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- services section --> 

<!-- Testimonials section -->
<section id="feedbacks" class="section testimonials no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="flexslider">
        <ul class="slides">

          <li>
            <div class="col-md-12">
              <blockquote>
                <h1>"É um fato conhecido de todos que um leitor se distrairá com o conteúdo de texto legível de uma página quando estiver examinando sua diagramação. A vantagem de usar Lorem Ipsum é que ele tem uma distribuição normal de letras, ao contrário de "Conteúdo aqui, conteúdo aqui" </h1>
                <p>Robert J. Hill</p>
              </blockquote>
            </div>
          </li>


          <li>
            <div class="col-md-12">
              <blockquote>
                <h1>"Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica" </h1>
                <p>William P. Marten</p>
              </blockquote>
            </div>
          </li>


          <li>
            <div class="col-md-12">
              <blockquote>
                <h1>"Existem muitas variações disponíveis de passagens de Lorem Ipsum, mas a maioria sofreu algum tipo de alteração, seja por inserção de passagens com humor, ou palavras aleatórias que não parecem nem um pouco convincentes. Se você pretende usar uma passagem de Lorem Ipsum, precisa ter certeza de que não há algo embaraçoso escrito escondido no meio do texto." </h1>
                <p>Yasmin C. Houston</p>
              </blockquote>
            </div>
          </li>
          
          
          
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Testimonials section --> 


<!-- our team section -->
<section id="teams" class="section teams">
  <div class="container">
    <div class="row">
      <% @users.each do |user| %>
        <div class="col-md-3 col-sm-6">
          <div class="person"><%= image_tag( user.avatar , class: "img-responsive") %>
            <div class="person-content">
              <h4><%= user.name %></h4>
              <h5 class="role"><%= user.kind %></h5>
              <p><%= user.rmk %></p>
            </div>
            <ul class="social-icons clearfix">
              <li><a href="<%= user.facebook %>"><span class="fa fa-facebook"></span></a></li>
              <li><a href="<%= user.twitter %>"><span class="fa fa-twitter"></span></a></li>
              <li><a href="<%= user.linkedin %>"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="<%= user.google %>"><span class="fa fa-google-plus"></span></a></li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!-- our team section --> 

<!-- contact section -->
<section id="contact" class="section" style="display: none">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 conForm">
        <h5>Shoot An Email</h5>
        <p>We are happy to talk you through any projects or run live demos for those wishing to see what it is to use our products and how they look like.</p>
        <div id="message"></div>
        <form method="post" action="php/contact.php" name="cform" id="cform">
          <input name="name" id="name" type="text" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Your name..." >
          <input name="email" id="email" type="email" class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr" placeholder="Email Address..." >
          <textarea name="comments" id="comments" cols="" rows="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Project Details..."></textarea>
          <input type="submit" id="submit" name="send" class="submitBnt" value="Send your query">
          <div id="simple-msg"></div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- contact section --> 



<!-- Modal -->


<!-- Modal -->
<div class="modal fade animated rollIn" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cotações</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
  
      <div class="col-xs-6">

        <div class="panel panel-default">
          <div class="panel-heading">
              Valor na Compra
          </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                  <div class="table-responsive">
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                  <th>Moeda</th>
                                  <th>Valor</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Mark</td>
                                  <td>Otto</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <!-- /.table-responsive -->
              </div>
              <!-- /.panel-body -->
          </div>  

        </div> 

      <div class="col-xs-6">

        <div class="panel panel-default">
          <div class="panel-heading">
              Valor na Venda
          </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                  <div class="table-responsive">
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                  <th>Moeda</th>
                                  <th>Valor</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Mark</td>
                                  <td>Otto</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <!-- /.table-responsive -->
              </div>
              <!-- /.panel-body -->
          </div>  

        </div> 
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
