
<div class="col-xs-12 show-user-panel">
  <% if alert %>
      <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= alert %>
      </div>
  <% end -%>


    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Administrador: <%= @user.name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 col-lg-3 " align="center">

          <%= image_tag("perfil.jpg", class: "img-circle img-responsive") %>
           </div>
          

          <div class=" col-md-9 col-lg-9 "> 
            <table class="table table-user-information">
              <tbody>
                <tr>
                  <td>Nome:</td>
                  <td><%= @user.name %></td>
                </tr>
                <tr>
                  <td>CPF:</td>
                  <td><%= @user.cpf %></td>
                </tr>
                <tr>
                  <td>E-mail:</td>
                  <td><a href="<%= @user.email %>"><%= @user.email %></td>
                </tr>
             
                <tr>
                  <td>Sexo:</td>
                  <td><%= @user.sex %></td>
                </tr>
                  <tr>
                  <td>Data de Nascimento:</td>
                  <td><%= @user.birth %></td>
                </tr>
                <tr>
                  <td>Tipo do Acesso:</td>
                  <td><%= @user.role %></td>
                </tr>
                <% @user.phones.each do |phone| %>
                  </tr>
                    <td>Telefone</td>
                    <td><%= phone.number %></td>
                  </tr>
                <% end %>
                
                <tr>
                  <td>Criado em:</td>
                  <td><%= l(@user.created_at) %></td>
                </tr>
                <tr>
                  <td>Ultima Alteração:</td>
                  <td><%= l(@user.updated_at) %></td>
                </tr>
              </tbody>
            </table>
            
          </div>
        </div>
      </div>

         <div class="panel-footer">
              <span class="pull-right">

                  <%= link_to edit_backoffice_user_path(@user), class:"btn btn-sm btn-warning" do %>
                      <i class="glyphicon glyphicon-edit"></i>
                  <% end %>

                  <%= link_to backoffice_user_path(@user), :method => 'delete', class:"btn btn-sm btn-danger", data: { confirm: "Tem certeza que deseja apagar <b> #{@user.name} </b> ?" } do %>
                      <i class="glyphicon glyphicon-remove"></i>
                  <% end %>
              </span>
          </div>
    </div>
  </div>
