<!DOCTYPE html>
<html>
<head>
  <title>CurrencyConverter</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if user_signed_in? %>

    <%= render partial: "layouts/shared/navigation" %>

  <% else %>

    <%= yield %>
    
  <% end %>
</body>
</html>
